html,
body,
#game,
#game canvas,
#menu,
#menu div.background,
#menu div.background::after {
    height: 100%;
}

#menu canvas {
    pointer-events: none;
}

body {
    margin: 0;
}

#game,
#menu,
#menu div.background {
    overflow: hidden;
}

#menu div.background::before {
    content: "";
    animation: 10s infinite linear background-animation;
    transform-origin: 0 0;
    background-size: 20vmin 20vmin;
    background-position:
        calc(50% + 10vmin) calc(50% + 10vmin),
        calc(50% + 10vmin) 50%,
        50% 50%;
    background-color: #6c3;
    background-image:
        linear-gradient(45deg, #7d4 0 25%, transparent 25% 75%, #7d4 75% 100%),
        linear-gradient(63.435deg, #6c3 0 33.333%, transparent 33.333% 66.667%, #6c3 66.667% 100%),
        linear-gradient(26.565deg, #7d4 0 33.333%, transparent 33.333% 66.667%, #7d4 66.667% 100%);
    width: 200vmax;
    height: 200vmax;
}

@keyframes background-animation {
    from {
        transform:
            translate(50vw, 50vh)
            rotate(12deg)
            translate(-20vmin, 10vmin)
            translate(-100vmax, -100vmax);
    }
    to {
        transform:
            translate(50vw, 50vh)
            rotate(12deg)
            translate(20vmin, -10vmin)
            translate(-100vmax, -100vmax);
    }
}

#menu div.background::after {
    content: "";
    background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.25), transparent);
}

div.version {
    text-shadow: 0 0 1vmin rgba(0, 0, 0, 0.5);
}

#session-ranking-place {
    animation: 1s infinite alternate ease-in-out session-ranking-place;
}

@keyframes session-ranking-place {
    from {
        text-shadow: 0 0 2vmin black;
        letter-spacing: 0;
    }
    to {
        text-shadow: 0 0 4vmin black;
        letter-spacing: 0.04em;
    }
}

#session-ranking-place.first {
    color: gold;
}

#session-ranking-place.second {
    color: silver;
}

#session-ranking-place.third {
    color: saddlebrown;
}

button:not(:active):not(:disabled) {
    box-shadow: 0 0 2vmin rgba(0, 0, 0, 0.5);
}

button:active:not(:disabled) {
    box-shadow: 0 0 1vmin rgba(0, 0, 0, 0.5);
}

body,
input[type=text],
button.primary,
span.rating.zero {
    color: white;
}

div.version,
button.secondary,
label.header,
#session-ranking-place.last {
    color: black;
}

span.rating.positive {
    color: lightgreen;
}

span.rating.negative {
    color: lightcoral;
}

span.self,
#game-menu em {
    color: lightskyblue;
}

body,
input[type=text],
button {
    font-family: sans-serif;
}

#session-ranking-place {
    font-family: math;
}

input[type=text],
button,
table.box,
span.box,
div.overlay div.small,
#game-menu > div {
    font-size: 2.5vmin;
}

div.overlay div.small {
    line-height: 200%;
}

span.box,
span.box span.key {
    display: inline-block;
}

input[type=text],
span.box,
#game,
#game canvas,
#menu,
#menu div.background,
#menu div.background::after,
#menu button,
#menu table {
    width: 100%;
}

#session-ranking canvas {
    width: 100vw;
    height: 100vh;
}

div.overlay {
    white-space: nowrap;
}

input[type=text],
button,
table.box,
span.box,
div.overlay,
#game-menu > div,
#timer {
    padding: 1.5vmin 2.5vmin;
}

input[type=text],
#menu button,
#menu table,
span.box {
    margin: 0.5vmin 0;
}

div.version,
#timer,
#game-ranking,
#game-menu {
    margin: 2.5vmin;
}

#game-menu > div {
    margin-top: 2.5vmin;
}

h2,
#game-start,
#player-end {
    margin: 2.5vmin 0;
}

#game button {
    margin-left: 1vmin;
}

table.sensitivity {
    margin-left: auto;
    margin-right: auto;
}

input[type=text],
span.box,
div.panel,
div.left-half,
div.right-half,
div.left-two-thirds,
div.right-one-third {
    box-sizing: border-box;
}

input[type=text] {
    outline: 0;
}

input[type=text]:focus-visible {
    background-color: rgba(0, 0, 0, 0.75);
}

input[type=text].invalid {
    background-color: rgba(139, 0, 0, 0.5);
}

div.version,
label.validation,
label.header,
span.box span.key,
span.id {
    font-size: 2vmin;
}

div.overlay,
label.validation,
label.header,
span.rating,
#game-ranking td:last-child,
#timer,
#session-ranking-place {
    font-weight: bold;
}

label.validation,
label.header {
    padding-left: 2.5vmin;
}

label.validation {
    color: darkred;
}

#game-menu em {
    font-style: normal;
}

div.version,
label.validation {
    font-style: italic;
}

button:not(:disabled) {
    cursor: pointer;
}

button.primary:not(:hover),
button.primary:disabled {
    background-color: mediumblue;
}

button.primary:hover:not(:disabled) {
    background-color: blue;
}

button.secondary:not(:hover),
button.secondary:disabled {
    background-color: lightgray;
}

button.secondary:hover:not(:disabled) {
    background-color: white;
}

input[type=text]:disabled,
button.primary:disabled,
span.id {
    color: rgba(255, 255, 255, 0.5);
}

button.secondary:disabled {
    color: rgba(0, 0, 0, 0.5);
}

hr,
span.left {
    opacity: 50%;
}

label.header,
span.box span.key {
    opacity: 75%;
}

input[type=text],
table.box,
span.box,
div.overlay,
#game-menu > div,
#timer {
    background-color: rgba(0, 0, 0, 0.5);
}

input[type=text],
button,
table.box,
span.box,
div.overlay,
#game-menu > div,
#timer {
    border: none;
    border-radius: 2.5vmin;
}

hr {
    height: 0.5vmin;
    background-image: linear-gradient(to right, transparent, black 25% 75%, transparent);
    border: none;
    margin: 2.5vmin 5vmin;
}

canvas,
div.panel,
div.overlay,
div.version,
#game,
#game-ranking,
#game-menu,
#timer,
#menu,
#menu div.background,
#menu div.background::before,
#menu div.background::after {
    position: absolute;
}

h2,
div.overlay div.medium {
    font-size: 5vmin;
}

#timer,
#session-ranking-place,
div.overlay div.large {
    font-size: 10vmin;
}

label.validation,
div.overlay,
#player-end > div:first-child > div,
#player-end > div:last-child,
#game,
#game-menu > div {
    display: none;
}

#game-ranking {
    left: 0;
}

#timer,
#game-menu {
    right: 0;
}

#game-ranking,
#game-menu,
#game-start {
    top: 0;
}

div.version,
#timer,
#player-end {
    bottom: 0;
}

div.version,
#game-start,
#player-end {
    transform: translate(-50%, 0);
}

div.panel,
div.overlay,
div.version,
#session-ranking canvas {
    left: 50%;
}

div.panel,
#session-ranking canvas,
#game-end {
    top: 50%;
    transform: translate(-50%, -50%);
}

#menu div.panel,
#game-menu > div {
    opacity: 0;
    visibility: hidden;
}

#menu,
#menu div.panel,
#game-menu > div {
    transition: opacity 0.25s;
}

span.box.on {
    background-color: rgba(255, 255, 255, 0.5);
}

span.box.off {
    transition: background-color 1s;
}

#registration,
#login,
#name-change,
#session-join {
    width: 60vmin;
}

#lobby,
#session,
#session-ranking {
    width: 90vmin;
}

#session th:first-child,
#session-ranking th:first-child {
    width: 10%;
}

#game-ranking th:nth-child(2),
#game-ranking td:nth-child(2) {
    padding: 0 5vmin 0 2.5vmin;
}

th {
    padding: 0.5vmin 1vmin;
}

td {
    padding: 0 1vmin;
}

#session-ranking-place {
    padding: 5vmin;
}

div.overlay,
#session td:not(:nth-child(2)),
#session-ranking td:not(:nth-child(2)),
#session-ranking-place,
#game-ranking td:first-child,
#game-ranking td:nth-child(3),
#game-ranking td:last-child,
#game-menu > div {
    text-align: center;
}

#session th:nth-child(2),
#session-ranking th:nth-child(2),
#game-ranking th:nth-child(2),
table.sensitivity td:last-child,
table.controls th:first-child,
table.controls td:first-child,
table.controls th:last-child,
table.controls td:last-child {
    text-align: left;
}

span.box span.key,
table.sensitivity td:first-child,
#game-menu {
    text-align: right;
}

label[title],
span.box span.key {
    cursor: help;
}

table.sensitivity td:last-child {
    width: 10vmin;
}

span.box span.key {
    width: 15vmin;
    padding-right: 1vmin;
}

input[type=range] {
    accent-color: lightskyblue;
    vertical-align: middle;
    width: 50vmin;
}

div.left-half,
div.right-half {
    width: 50%;
}

div.left-two-thirds {
    width: 66.667%;
}

div.right-one-third {
    width: 33.333%;
}

div.left-half,
div.left-two-thirds {
    float: left;
    padding-right: 0.5vmin;
}

div.right-half,
div.right-one-third {
    float: right;
    padding-left: 0.5vmin;
}

div.clear {
    clear: both;
}