html,
body,
canvas,
#game,
#menu,
#menu div.background,
#menu div.background::after {
    height: 100%;
}

body {
    margin: 0;
}

#game,
#menu,
#menu div.background {
    overflow: hidden;
}

#menu div.background::before {
    content: "";
    animation: 10s infinite linear background-animation;
    transform-origin: 0 0;
    background-size: 20vmin 20vmin;
    background-position:
        calc(50% + 10vmin) calc(50% + 10vmin),
        calc(50% + 10vmin) 50%,
        50% 50%;
    background-color: #6c3;
    background-image:
        linear-gradient(45deg, #7d4 0 25%, transparent 25% 75%, #7d4 75% 100%),
        linear-gradient(63.435deg, #6c3 0 33.333%, transparent 33.333% 66.667%, #6c3 66.667% 100%),
        linear-gradient(26.565deg, #7d4 0 33.333%, transparent 33.333% 66.667%, #7d4 66.667% 100%);
    width: 200vmax;
    height: 200vmax;
}

@keyframes background-animation {
    from {
        transform:
            translate(50vw, 50vh)
            rotate(12deg)
            translate(-20vmin, 10vmin)
            translate(-100vmax, -100vmax);
    }
    to {
        transform:
            translate(50vw, 50vh)
            rotate(12deg)
            translate(20vmin, -10vmin)
            translate(-100vmax, -100vmax);
    }
}

#menu div.background::after {
    content: "";
    background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.25), transparent);
}

div.version {
    text-shadow: 0 0 1vmin rgba(0, 0, 0, 0.5);
}

button:not(:active):not(:disabled) {
    box-shadow: 0 0 2vmin rgba(0, 0, 0, 0.5);
}

button:active:not(:disabled) {
    box-shadow: 0 0 1vmin rgba(0, 0, 0, 0.5);
}

body,
input,
button.primary {
    color: white;
}

div.version,
button.secondary,
label.header {
    color: black;
}

span.rating.positive {
    color: lightgreen;
}

span.rating.negative {
    color: lightcoral;
}

body,
input,
button {
    font-family: sans-serif;
}

input,
button,
table,
span.box,
div.overlay div.small {
    font-size: 2.5vmin;
}

div.overlay div.small {
    line-height: 200%;
}

span.box,
span.box span.key {
    display: inline-block;
}

canvas,
input,
span.box,
#game,
#menu,
#menu div.background,
#menu div.background::after,
#menu button,
#menu table {
    width: 100%;
}

div.overlay {
    white-space: nowrap;
}

input,
button,
table,
span.box,
div.overlay,
#timer {
    padding: 1.5vmin 2.5vmin;
}

input,
#menu button,
#menu table,
span.box {
    margin: 0.5vmin 0;
}

input,
span.box,
div.panel,
div.left-half,
div.right-half,
div.left-two-thirds,
div.right-one-third {
    box-sizing: border-box;
}

input {
    outline: 0;
}

input:focus-visible {
    background-color: rgba(0, 0, 0, 0.75);
}

input.invalid {
    background-color: rgba(139, 0, 0, 0.5);
}

div.version,
label.validation,
label.header,
span.box span.key,
span.id {
    font-size: 2vmin;
}

div.overlay,
label.validation,
label.header,
span.rating,
#game td:last-child,
#timer {
    font-weight: bold;
}

label.validation,
label.header {
    padding-left: 2.5vmin;
}

label.validation {
    color: darkred;
}

div.version,
label.validation {
    font-style: italic;
}

button:not(:disabled) {
    cursor: pointer;
}

button.primary:not(:hover),
button.primary:disabled {
    background-color: mediumblue;
}

button.primary:hover:not(:disabled) {
    background-color: blue;
}

button.secondary:not(:hover),
button.secondary:disabled {
    background-color: lightgray;
}

button.secondary:hover:not(:disabled) {
    background-color: white;
}

input:disabled,
button.primary:disabled,
span.id {
    color: rgba(255, 255, 255, 0.5);
}

button.secondary:disabled {
    color: rgba(0, 0, 0, 0.5);
}

hr,
span.left {
    opacity: 50%;
}

label.header,
span.box span.key {
    opacity: 75%;
}

input,
table,
span.box,
div.overlay,
#timer {
    background-color: rgba(0, 0, 0, 0.5);
}

input,
button,
table,
span.box,
div.overlay,
#timer {
    border: none;
    border-radius: 2.5vmin;
}

hr {
    height: 0.5vmin;
    background-image: linear-gradient(to right, transparent, black 25% 75%, transparent);
    border: none;
    margin: 2.5vmin 5vmin;
}

div.panel,
div.overlay,
div.version,
#game,
#game table,
#game-exit,
#timer,
#menu,
#menu div.background,
#menu div.background::before,
#menu div.background::after {
    position: absolute;
}

div.overlay div.medium {
    font-size: 5vmin;
}

#timer,
div.overlay div.large {
    font-size: 10vmin;
}

label.validation,
div.overlay,
#player-end > div:first-child > div,
#player-end > div:last-child,
#game {
    display: none;
}

#game table {
    left: 2.5vmin;
}

#game-exit,
#timer {
    right: 2.5vmin;
}

#game table,
#game-exit {
    top: 2.5vmin;
}

div.version,
#timer,
#player-end {
    bottom: 2.5vmin;
}

div.version,
#game-start,
#player-end {
    transform: translate(-50%, 0);
}

#game-start {
    top: 2.5vmin;
}

div.panel,
div.overlay,
div.version {
    left: 50%;
}

div.panel,
#game-end {
    top: 50%;
    transform: translate(-50%, -50%);
}

#menu div.panel {
    opacity: 0;
    visibility: hidden;
}

#menu,
#menu div.panel {
    transition: opacity 0.25s;
}

span.box.on {
    background-color: rgba(255, 255, 255, 0.5);
}

span.box.off {
    transition: background-color 1s;
}

#registration,
#login,
#name-change,
#session-join {
    width: 60vmin;
}

#lobby,
#session,
#session-ranking {
    width: 90vmin;
}

#session th:first-child,
#session-ranking th:first-child {
    width: 10%;
}

#game th:nth-child(2),
#game td:nth-child(2) {
    padding: 0 5vmin 0 2.5vmin;
}

th,
td {
    padding: 0 0.5vmin;
}

div.overlay,
#session td:not(:nth-child(2)),
#session-ranking td:not(:nth-child(2)),
#game td:first-child,
#game td:nth-child(3),
#game td:last-child {
    text-align: center;
}

#session th:nth-child(2),
#session-ranking th:nth-child(2),
#game th:nth-child(2) {
    text-align: left;
}

label[title],
span.box span.key {
    cursor: help;
}

span.box span.key {
    text-align: right;
    width: 10vmin;
}

div.left-half,
div.right-half {
    width: 50%;
}

div.left-two-thirds {
    width: 66.667%;
}

div.right-one-third {
    width: 33.333%;
}

div.left-half,
div.left-two-thirds {
    float: left;
    padding-right: 0.5vmin;
}

div.right-half,
div.right-one-third {
    float: right;
    padding-left: 0.5vmin;
}

div.clear {
    clear: both;
}