body {
	background-color: #eee;
	color: #444;
	font-family: sans-serif;
	margin: 1.5em 0em;
}

h1, h2, h3, p {
	margin-left: 1rem;
	margin-right: 1rem;
}

img {
	margin: 0.5em 0.5em 0em 0em;
	vertical-align: middle;
}

a:link, a:hover, a:active {
	color: #00c;
}

a:visited {
	color: #339;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

.author, .project-text {
	background-color: #ddd;
	border-color: #444;
	border-style: solid;
	border-width: 0.15em 0em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

.author, .project-text, .project-images {
	padding-left: 3.5em;
}

.author-left {
	float: left;
	font-weight: bold;
	margin-right: 1.5em;
}

.author-element, .project-text-line {
	padding: 0.1em 0em;
}

.project-text-line:first-child {
	font-size: 1.2em;
}

.project-text {
	margin-top: 1.5em;
	padding-right: 0.5em;
}

.project-details {
	color: #666;
	font-style: italic;
}

.project-label {
	border-radius: 0.5em;
	color: #eee;
	display: inline-block;
	font-size: 0.8em;
	font-style: italic;
	margin-left: 0.5em;
	padding: 0.25em 0.5em;
	vertical-align: middle;
}

.project-label.sdl {
	background-color: #aa0;
}

.project-label.sdl:after {
	content: "SDL";
}

.project-label.c-language {
	background-color: #c00;
}

.project-label.c-language:after {
	content: "C";
}

.project-label.game-maker {
	background-color: #0c0;
}

.project-label.game-maker:after {
	content: "Game Maker";
}

.project-label.game-maker-ext {
	background-color: #0aa;
}

.project-label.game-maker-ext:after {
	content: "Game Maker Extension";
}

.project-label.javascript {
	background-color: #a0a;
}

.project-label.javascript:after {
	content: "JavaScript";
}
